body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 480px) {
    body {
        overflow-x: hidden;
    }
} 
nav {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    margin-top: -20px;
    /* margin-right: -30px; */
    padding-right: 20px;
    z-index: 9999;
}

nav h1{
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
    margin-left: 3%;
    letter-spacing: 0.255em;
    cursor: pointer;

}
nav h1 span {
    color: #ff8d22;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    text-decoration: none;
    color: #606163;
}
nav ul li a:hover{
    color: #ff4321;
    text-decoration: none;
}
.info{
    margin-left: 8%;
    margin-top: 5%;
}

@media all and (max-width:480px){
    .info{
        margin-top:12% ;
    }
}

.info h1 {
    font-weight: 600;
    font-size: 44px;
    font-family: Poppins;
    /* color: #212121; */
    color: #6A983C;
    margin-bottom: 10px;
}
.info h5{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}

.info p {
    color:#606163 ;
    line-height:22px ;
}
.info a{
    background: #ff8d22;
    padding: 10px 28px;
    text-decoration: none;
    color: #fff !important;
    display: inline-block;
    margin: 30px 0;
    border-radius: 25px;
    box-shadow: 0px 20px 40px #DBF4D1;

}


.check{
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;    
     display: inline-block; 
    margin: 10px 130px;
    border: 2px solid transparent;
    border-radius: 25px;

}

@media (min-width: 992px) and (max-width : 1200px){
    .check{
        margin: 10px 130px;
    }
 }

 @media screen and (max-width: 990px) {
    .check{
        margin: 0;
        padding: 3px;
        padding-right: 10px;
    }
 }

.check i {
    padding-left: 10px;
    padding-right: 10px;
}

.elispe {
position: absolute;
width: 1177px;
height: 1177px;
left: 385px;
top: -363px;
background: url(../Assets/veg.jpg);
z-index: -1;
border-radius: 600px;
}

.fresh{
    color: black!important;
}

.boxes{
    /* position: absolute; */
    width: 180px;
    display: inline-block;
    justify-content: center;
    
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
    height: 142px;
  


background: radial-gradient(93.36% 150.51% at 22.12% 29.21%, rgba(6, 22, 0, 0.76) 0%, #60DD2D 100%), url(../Assets/veg.jpg );
box-shadow: -3px 14px 50px rgba(0, 0, 0, 0.25);
border-radius: 20px;

}

@media all and (max-width:480px){
   .boxes{
       position: absolute;
    display: none;
    width: 150px;
    height: 122px;
    left: 30px;
   }

}


.boxes2{
    /* position: absolute; */
  
    justify-content: center;
    display: inline-block;
    align-items: center;
    margin-left: 15px;
    margin-top: 20px;
    width: 181px;
    height: 142px;
  
    background: radial-gradient(106.34% 144.97% at 0% -17.96%, #FFFFFF 0%, rgba(9, 9, 9, 0.57) 100%), url(../Assets/veg.jpg);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
@media all and (max-width:480px){


    .boxes2{
        position: absolute;
        display: none;
     width: 150px;
    height: 122px;
     left: 240px;

    }
 }


.boxes a {
    position: absolute;
    text-align: center;
    width: 200px;
    color: #FFFFFF;
    display: block;
    display:table-cell;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
    font-family: Barlow;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.boxes2 a {
    position: absolute;
    text-align: center;
    color: #FFFFFF;
    display: block;
    display:table-cell;
    width: 200px;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
    font-family: Barlow;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

/* boxpage2 */
.boxes11{
  
    width: 180px;
    height: 142px;
    margin-left: 50px;
    margin-top: 20px;
    display: inline-block;
    align-items: center;
    background: radial-gradient(106.34% 144.97% at 0% -17.96%, #FFFFFF 0%, rgba(9, 9, 9, 0.57) 100%), url(../Assets/veg.jpg);
    box-shadow: -3px 14px 50px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

@media all and (max-width:480px){
    .boxes11{
     width: 150px;
     height: 122px;
     left: 30px;
     top: 300px;
     position: absolute;
    }
}

.boxes22{
 
width: 181px;
height: 142px;
display: inline-block;
align-items: center;
margin-left: 15px;
margin-top: 20px;
    align-items: center;

background: radial-gradient(93.36% 150.51% at 22.12% 29.21%, rgba(6, 22, 0, 0.76) 0%, #60DD2D 100%), url(../Assets/veg.jpg );
box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}

@media all and (max-width:480px){
    .boxes22{
        position: absolute;
     width: 150px;
    height: 122px;
     left: 240px;
     top: 300px; display: flex;
        align-items: center;}
 }

.boxes11 a {
    position: absolute;
    text-align: center;
    width: 200px;
    color: #FFFFFF;
    display: block;
    display:table-cell;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
    font-family: Barlow;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;

}

.boxes22 a {
    position: absolute;
    text-align: center;
    color: #FFFFFF;
    display: block;
    display:table-cell;
    width: 200px;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
    font-family: Barlow;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.clr{
    margin: 0px;
    padding: 0px;
    position: relative;

}
svg{
    fill: #eaf7e4;
    position: relative;
    width: 100%;
}
.svgwid{
    width: 100%;
}

@media all and (max-width:480px){
    .svgwid{
        /* width: 107%; */
    }
}
.brought{
    position: absolute;
    top: 60%;
    left: 150px;
    transform: translate(-50%, -50%);
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
}

@media all and (max-width:480px){
    .brought{
        margin-top: 20px;
        padding-top: 50px;
        font-size: 20px;
        margin-left: 0px;
        padding-left: 0;
        margin-bottom: 50px;
        padding-bottom: 50px;
        left: 100px;
    }
}

.backg{
    background:#eaf7e4 ;
}

@media all and (max-width:480px){
    .backg{
        margin: 0;
        padding-top: 60px;
        background:#eaf7e4 ;
        /* width: 110%; */
    }
}


.logo1{
    text-align: center;
    margin-bottom: 40px;
}

.fothed{
    padding-top: 20px;
    padding-left: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

.fotcont{
    padding-left: 20px;
    text-decoration: none;
    padding-top: 10px;
    display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #6A983C;
}

.vegitablelink{
    position: absolute;

    width: 241.7px;
    height: 58px;
    background: rgba(229, 229, 229, 0.8);
    border-radius: 32px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: black;
    cursor: pointer;
    margin-right:-115px;
}
.vegitablelink:hover{
    color: white;
    text-decoration: none;
}

/* @media all and (max-width:480px){
    .vegitablelink{
       left: 170px;
       margin: 20px 2px;
    }
} */


.centre{
    left: 50%;
    position: absolute;
}

.kitlink{
    width: 169px;
    height: 58px;
    /*left: 175px;*/
    position: absolute;
    /*background: linear-gradient(251.47deg, #FFFFFF -49.59%, rgba(255, 255, 255, 0) 62.55%), #090909;*/
    background: rgba(229, 229, 229, 0.8);
    border-radius: 32px;
    border: none;
    color: white;
    line-height: 25px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    margin-left:-175px;
    color: black;
    cursor: pointer;

}

.kitlink:hover,.vegitablelink:hover{
    color: #6A983C;
    text-decoration: none;
}
.active-switch{
    background: #090909;
    color: white;z-index: 999;
}
/* @media all and (max-width:480px){
    .kitlink{
       left: 60px;
       margin: 20px 2px;
    }
} */

.vegitablelink2{
    position: absolute;
    width: 241.7px;
    height: 58px;
    left: 463px;
    top: 109px;
    background: linear-gradient(251.47deg, #FFFFFF -49.59%, rgba(255, 255, 255, 0) 62.55%), #090909;
    border-radius: 32px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: white;
    z-index: 999;
}
.vegitablelink2:hover{
    color: white;
    text-decoration: none;
}
.kitlink2{
    width: 169px;
    height: 58px;
    left: 648px;
    top: 106px;
    position: absolute;
    background: rgba(229, 229, 229, 0.8);

    border-radius: 32px;
    border: none;
    color: #090909;

    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}
.kitlink2:hover{
    color: #6A983C;
    text-decoration: none;
}


.whiteclr{
    background-color: white;
    width: 102%;
    height: 100px;
}
@media all and (max-width:480px){
    .whiteclr{
        display: hidden;
        background-color: white;
        width: 0%;
        height: 100px;
    }
}
.qty{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}

.round{
    border: 1px solid #B0B0B0;
box-sizing: border-box;
border-radius: 12px;
width: 50px;
height: 40px;
text-align: center;
text-decoration: none;
}

.hidn{
    display: none;
    visibility: hidden;
}

.colr{
    color: black;
    font-size: 20px;
}



/* bootstrap */


.main-content{
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}
.company__info{
	background-color: #3b9811;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:#008080;
}
.login_form{
	background-color: #fff;
	/* border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc; */
    border-radius: 15px;
    width: 50%;
    padding:30px;
    box-shadow: 0 0 5px rgba(0,80,80,.4);
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #008080;
	box-shadow: 0 0 5px rgba(0,80,80,.4);
	border-radius: 4px;
}


.btns{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#008080;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.btns:hover, .btn:focus{
	background-color: #008080;
	color:#fff;
}


.font1{
    font-family: Barlow;
font-style: italic;
font-weight: 600;
}

.wid{

    max-width: 300px;
    margin: 10px;
    border-radius: 30px;
    vertical-align: middle;
}

 @media all and (max-width:766px){
    .wid{

        max-width: 100%;
        margin: 10px;
        border-radius: 30px;
        vertical-align: middle;
    }
} 

.card-img-top{
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    position: relative;
}

/* @media all and (max-width:480px){
    .card-img-top{
        width: 30%;
        height: 200px;
        border-radius: 30px 0px 0px 30px;
        float: inline;
        object-fit: cover;
    }
} */

.pdtname{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
}

.clres{
    background: #2ECC71;
border-radius: 17px;
    color:white;
    font-size: 15px;
}


.rads{
    border-radius: 15px;
}

.price{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 15px;
}


.inlin{
    display: inline;
}
.cartwid{
    border-radius: 15px;
}

.carthead{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 22px;
}

.cartimg{
    border-radius: 25px;
    float: left;
}

.flrright{
    float: right;
}

.orderhead{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 15px;
}

.orderprice{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 18px;
}

.headcart{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 22px;
margin-top: 50px;
}

.subtotalprice{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    text-align: right;

    color: #6A983C;
}

.clresa{
    color: #090909;
    font-size: 16px;
}

.margintop{
    margin-top: 70px;
}

.completeorder{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 33px;
color: #151515;
}

.bord{
    border-radius: 15px;
    margin-top: 108px;
}



/******NEW*****/
.logo{
    font-weight: bolder;
}
.nav-items{
    margin:0;
}
.check:hover{
    text-decoration: none;
    background: white;
    color:black;
    border:2px solid black;
}
.collapse{
    justify-content: space-around;
} 

@media screen and (max-width: 480px) {
    .collapse{
        justify-content:unset;
    }
} 

 
.home__container{
    background:url("../Assets/bg4.png");
    height:208vh;
    background-repeat: no-repeat;
    background-position: top right 10px;
    background-size: 1050px;
    padding:0;
}


@media all and (max-width:1112px){
    .home__container{
        background:url("../Assets/bg2.png");
        height:208vh;
        background-repeat: no-repeat;
        background-position: top right 10px;
        background-size: 1050px;
        padding:0;
    }
}


@media all and (max-width:988px){
    .home__container{
        background:url("../Assets/bg5.png");
        height:208vh;
        background-repeat: no-repeat;
        background-position: top right 10px;
        background-size: 1050px;
        padding:0;
    }
}


@media all and (max-width:888px){
    .home__container{
        background:url("../Assets/bg6.png");
        height:208vh;
        background-repeat: no-repeat;
        background-position: top right 10px;
        background-size: 1050px;
        padding:0;
    }
}


@media all and (max-width:786px){
    .home__container{
        background:url("../Assets/bg7.png");
        height:208vh;
        background-repeat: no-repeat;
        background-position: top right 10px;
        background-size: 1050px;
        padding:0;
    }
}



@media all and (max-width:656px){
    .home__container{
        background:url("../Assets/bg8.png");
        height:208vh;
        background-repeat: no-repeat;
        background-position: top right 10px;
        background-size: 1050px;
        padding:0;
    }
}


@media all and (max-width:496px){
    .home__container{
        background:url("");
        height:208vh;
        background-repeat: no-repeat;
        background-position: top right 10px;
        background-size: 1050px;
        padding:0;
    }
}


@media all and (max-width:480px){
  
 .home__container{
      
         width:100%; 
         background-position: top right 100px;
        /* width: 430px; */
        height: 600px;
        margin: 0;
        padding: 0;
        top: -174px;
 
 background: linear-gradient(180deg, #F8F8F8 59.8%, rgba(255, 255, 255, 0) 150.01%), url(../Assets/veg.jpg);
  /* filter: drop-shadow(0px 4px 45px rgba(0, 0, 0, 0.25));  */
 z-index: -99;
     }
 }



#recaptcha-container{
    width:100% !important;
    margin: 5px 0;
}
.card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}

@media all and (max-width:480px){
    .card{
        padding: 0;
        width: 100%;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin: 0px;
       
        
    }
}
.card-details__button{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.home-switch{
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.show{
    display: none;
}

@media all and (max-width:480px){
    .show{
        display:flex;
    }
    
}


@media all and (max-width:480px){
    .fltrght{
        float: left;
    }
}

.flterght{
    float: right;
}

.company__info {
    background-color: white;
}

.logowid{
    width: 205px;
    padding-left: 20px;
}

.clr112{
    background: #6A983C;
    border-radius: 25px;
    box-shadow: 0px 20px 40px #DBF4D1;
    padding: 10px 28px;
}

.clr112:hover{
    background:black;
}
.navbar-nav {

    margin-top: 20px;
}

.orderplaced{
    margin: 30px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
}


@media all and (max-width:990px){
    .checkout{
        display: none;
    }
    
}

.total{
    width: 100%;
}